/* Hero Section */
.hero-section {
  background-image: url('https://i.pinimg.com/736x/af/f0/6f/aff06fb3660a32e8f90bde5c46d3c80f.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  padding: 120px 0;  
  display: flex;
  align-items: center;
  
}

.overlay {
  background: rgba(0, 0, 0, 0.533);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0.253) 60%,
    rgba(0, 0, 0, 0.745) 100%
  );
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-title {
   width: 500px;
  margin: 0 auto;
  text-align: center;
font-size: 4rem;
  font-weight: 800;
  color: white;
  
}

.hero-subtitle {
  font-size: 1.25rem;
  
}

.cta-text {
  font-size: 1rem;
}





@media (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
  }
  .cta-text {
    font-size: 1.1rem;
  }
}
