.hero-section {
  background-image: url('https://i.pinimg.com/736x/af/f0/6f/aff06fb3660a32e8f90bde5c46d3c80f.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 120px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84) 0%,
    rgba(0, 0, 0, 0.641) 60%,
    rgba(0, 0, 0, 0.514) 100%
  );
}

.hero-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.cta-text {
  font-size: 1rem;
  font-weight: 500;
}





@media (min-width: 576px) {
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 1.3rem;
  }

  .cta-text {
    font-size: 1rem;
  }
 
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .cta-text {
    font-size: 1.1rem;
  }

 
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.75rem;
  }

  .cta-text {
    font-size: 1.25rem;
  }
}


